[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aniso8601 = "==9.0.1"
attrs = "==23.1.0"
blinker = "==1.6.2"
cffi = "==1.15.1"
click = "==8.1.3"
colorama = "==0.4.6"
cryptography = "*"
flask = "*"
flask-jwt-extended = "*"
flask-restx = "*"
flask-sqlalchemy = "*"
greenlet = "==2.0.2"
importlib-metadata = "==6.6.0"
importlib-resources = "==5.12.0"
itsdangerous = "==2.1.2"
jinja2 = "==3.1.2"
jsonschema = "==4.17.3"
markupsafe = "==2.1.2"
mysqlclient = "*"
pkgutil-resolve-name = "==1.3.10"
pycparser = "==2.21"
pymysql = "*"
pyrsistent = "==0.19.3"
pytz = "==2023.3"
sqlalchemy = "*"
typing-extensions = "==4.5.0"
werkzeug = "*"
zipp = "==3.15.0"
pyjwt = "*"
flask-cors = "*"
pyopenssl = "*"
matplotlib = ">=3.2.2"
numpy = "<1.24.0,>=1.18.5"
opencv-python = ">=4.1.1"
pillow = ">=7.1.2"
pyyaml = ">=5.3.1"
requests = ">=2.23.0"
scipy = ">=1.4.1"
torch = "!=1.12.0,>=1.7.0"
torchvision = "!=0.13.0,>=0.8.1"
tqdm = ">=4.41.0"
protobuf = "<4.21.3"
tensorboard = ">=2.4.1"
pandas = ">=1.1.4"
seaborn = ">=0.11.0"
ipython = "*"
psutil = "*"
thop = "*"
ultralytics = "*"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.10"
